.authentication-form {
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  width: 20%;
}

.authentication-form .material-icons-outlined {
  color: #0277bd;
}

.authentication-form .toggleVisibility {
  cursor: pointer;
  padding: 0;
  transition: color 300ms linear;
}

.authentication-form .toggleVisibility {
  color: #01579b;
}

.password-reset-form {
  padding-bottom: 16px;
}

.forget-password-link {
  font-size: 14px;
  text-align: center;
}

.password-reset-form h3 {
  margin-bottom: 16px;
}

.password-reset-form .reset-password-result {
  color: #0277bd;
  font-size: 13px;
  margin-top: 16px;
}

@media screen and (max-width: 1024px) {
  .authentication-form {
    width: calc(50% - 32px);
  }

  .authentication-form .password {
    width: 86.4%;
  }
}

@media screen and (max-width: 768px) {
  .authentication-form {
    margin-bottom: 0;
    width: calc(80% - 32px);
  }
}

@media screen and (max-width: 425px) {
  .authentication {
    padding: 16px;
  }

  .authentication-form {
    margin-bottom: 0;
    width: calc(100% - 32px);
  }

  .password-reset-form {
    margin: 20px auto;
    width: calc(90% - 32px);
  }
}